<ion-header>
  <ion-toolbar>
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div *ngIf="!loginCambio">
    <ion-list>
      <ion-input
        type="text"
        [(ngModel)]="user.email"
        placeholder="Correo Electronico"
      ></ion-input>

      <ion-input
        type="password"
        [(ngModel)]="user.password"
        placeholder="Contraseña"
      ></ion-input>
    </ion-list>
    <ion-button fill="solid" expand="block" (click)="login()"
      >Iniciar Sesión</ion-button
    >
    <ion-button fill="solid" expand="block" (click)="olvidar  ()"
      >Olvidaste tu contraseña?</ion-button
    >

    <ion-button fill="solid" expand="block" (click)="facebook()"
      >facebook</ion-button
    >
    <ion-label>Usted ya tiene una cuenta en Schedule.mo?</ion-label>
    <ion-button fill="solid" expand="block" (click)="registrar()"
      >Crear Cuenta</ion-button
    >
  </div>

  <div *ngIf="loginCambio">
    <ion-item>
      <ion-label>Email Address</ion-label>
      <ion-input type="text" [(ngModel)]="user.email"></ion-input>
    </ion-item>

    <ion-button fill="solid" espand="block" (click)="recover()"
      >Iniciar Sesión</ion-button
    >
    <ion-button fill="solid" espand="block" (click)="olvidar()"
      >ya lo recorve</ion-button
    >
  </div>
</ion-content>
