<ion-header>
    <ion-toolbar>
      <ion-title>Login</ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content>

      <div *ngIf="!loginCambio">
    <ion-list>
      <ion-item>
          <ion-label>Email Address</ion-label>
          <ion-input type="text" [(ngModel)]="user.email"></ion-input>
        </ion-item>
      
        <ion-item>
          <ion-label>Password</ion-label>
          <ion-input type="password" [(ngModel)]="user.password"></ion-input>
        </ion-item>
    </ion-list>
    <ion-button fill="solid" espand="block" (click)="olvidar()">Olvidaste tu contraseña?</ion-button>
    <ion-button fill="solid" espand="block" (click)="login()">Login</ion-button>
    <ion-button fill="solid" espand="block" (click)="registrar()">Crear Cuenta</ion-button>
  </div>



  <div *ngIf="loginCambio">

      <ion-item>
          <ion-label>Email Address</ion-label>
          <ion-input type="text" [(ngModel)]="user.email"></ion-input>
        </ion-item>
      <ion-button fill="solid" espand="block" (click)="olvidar()">ya lo recorve</ion-button>
  </div>
  
  
    
    
  
  
  </ion-content>